* {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    outline: 0;
}

html, body {
    height: 100%;
    min-width: 320px;
    overflow-y: hidden!important;
    overflow-x: hidden!important;
}

body {
    font-size: 14px;
}

.hidden {
    display: none !important;
}

/*header*/

.city p, .searchWrap {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

header {
    border-bottom: 1px solid #E5E5E5;
}

.header {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.bell {
    padding: 20px 10px !important;
    background-image: url("../images/icon_bell_unsubscribed@2x.png");
}

.dock {
    background-image: url("../images/icon_nav_dock_entry_close@2x.png");
}

.title {
    -webkit-box-flex: 1;
    text-align: center;
    font-size: 16px;
    font-weight:bold;
}

.header a, .footer a {
    display: block;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.city {
    display: -webkit-box;
    border: 1px solid #D6D6D6;
    height: 30px;
    background-color: #FFFFFF;
    border-right: none;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.header div input {
    width: 100%;
    border-left: 1px solid #D6D6D6;
    height: 20px;
    margin-left: 15px;
    padding-left: 15px;
    line-height: 20px;
    border-radius: 0;
}

.header div a {
    padding: 26px 15px;
    background-size: 20px;
    background-position: center;
}

.searchWrap {
    height: 30px;
    border: 1px solid #D6D6D6;
    -webkit-box-flex: 1;
    -webkit-box-pack: start;
    border-left: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.searchWrap .fa-search{
    position:absolute;
    top:46px;
    right: 20px;
    font-size: 1.4em;
}

.header .menu {
    background-image: url("../images/icon_left_deck2@2x.png");
}

.phone {
    background-image: url("../images/home_icon_phone@2x.png");
}

.location {
    width: 30px;
    padding-left: 20px;
    background-position: left center;
    background-repeat: no-repeat no-repeat;
    background-size: 20px;
    background-image: url("../images/icon_location@2x.png");
}

.close {
    background-image: url("../images/ad_close_gray@2x.png");
}

.register {
    width: 40px;
    font-size: 14px;
}
.back {
    background-image: url("../images/arrow_grey_left_pressed.png");
}
.tab-content {
  display: -webkit-box!important;
  position: absolute!important;
  bottom: 0!important;
  left:0px!important;
  width: 100%!important;
  z-index: 1000000!important;
}
.contains{
  position: fixed!important;
  left: 0!important;
  bottom: 0!important;
  width: 100%!important;
  z-index: 1010!important;
  overflow: scroll;
  overflow-x: hidden;
  height: 90%;
  margin-bottom: 45px;
  margin-top: 46px;
  top: -45px;
}

.search-contains{
  position:fixed;
  left:0;
  top:0;
  width: 100%!important;
  z-index: 1010!important;
  background: #3ABA63;
}
/*header*/
